/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  line-height: 1; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #34373D;
  font-size: 1.6rem; }

h2 {
  font-size: 2.8rem;
  display: inline-block;
  margin: 0.5em 0; }

h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #9C9EA3;
  margin-bottom: 2em;
  display: inline-block; }

p {
  font-size: 1.6rem;
  line-height: 2.4rem; }

a {
  font-size: 1.6rem;
  color: #0073BB; }

.btn {
  display: block;
  padding: 0.7em;
  text-decoration: none;
  text-align: center;
  border-radius: 3px; }
  .btn.primary {
    width: 100%;
    max-width: 223px;
    background: #F49831;
    border: 1px solid #D27900;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .btn.secondary {
    width: 100%;
    font-size: 1.8rem;
    background: #F2F3F6;
    border: 1px solid #DBDEE3;
    color: #34373D; }

main {
  width: 100%;
  display: block;
  font-size: 62.5%; }

.top {
  background: #F2F3F6;
  padding: 3em 0; }

.top-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 223px 1fr;
  grid-gap: 36px; }

.image-contain {
  position: relative; }
  .image-contain img {
    max-width: 223px;
    max-height: 223px; }
  .image-contain .pic-number {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 0.5em;
    color: #fff;
    height: 33%;
    background: linear-gradient(to bottom, rgba(52, 55, 61, 0) 0%, #34373d 100%); }
  .image-contain span {
    position: absolute;
    bottom: 0;
    padding: 1em;
    left: 0; }

.image-desc {
  position: relative; }
  .image-desc .primary {
    position: absolute;
    top: 0;
    right: 0; }

.reviews {
  display: block;
  margin-bottom: 0.5em; }

.star {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../assets/star.svg) center center no-repeat;
  background-size: cover; }

.location-wrap {
  display: inline-block;
  margin-bottom: 0.5em; }

.location {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../assets/star.svg) center center no-repeat;
  background-size: cover; }

.icon-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 150px;
  margin-top: 1em; }

.bottom {
  width: 100%;
  padding: 3em 0; }

.bottom-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-gap: 36px; }

.description {
  position: relative;
  overflow: auto; }
  .description::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8em;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    z-index: 2; }

.contact {
  position: relative; }
  .contact p {
    display: inline-block;
    margin-bottom: 0.5em;
    width: 100%; }
  .contact .secondary {
    position: absolute;
    left: 0;
    bottom: 0; }

@media (max-width: 600px) {
  .bottom-wrap {
    grid-template-columns: 1fr; }
  .image-desc .primary {
    position: relative; }
  .contact .secondary {
    position: relative; } }

@media (max-width: 800px) {
  .top-wrap {
    grid-template-columns: 1fr; } }

.image-contain {
  max-width: 223px; }

@media (max-width: 1050px) {
  .top, .bottom {
    padding: 3em; } }
